@media (min-width:768px) {
    .place_box {
        padding: 12px 12px 10px 40px;
        border: 1px solid #D1D5DB;
        border-radius: 40px;
        background: #fff;
        margin-bottom: 48px;
    }
    .place_box .form-control {
        padding: 0 !important;
        height: auto !important;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 22px;
        border-radius: 0 !important;
        border: none;
    }
    
}
@media (max-width:767px) {
    .login_sec {
        background: url(../img/login_bg.jpg) no-repeat;
        background-position: top;
        padding: 0 24px;
    }
    .login_slide {
        display: none;
    }
    .login_form {
        padding: 48px 0 15px;
    }
    .login_head {
        margin: 47px 0 64px;
    }
    .logo_img {
        text-align: center;
    }
    .login_form h3 {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 32px;
    }
    .login_form h3, .login_head p, .login_form label, .form-text, .or span, .no_account p {
        color: #fff !important;
    }
    .login_head p, .login_form .custom-checkbox label, .forgot_link, .no_account p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .login_form .custom-checkbox label, .no_account p {font-weight: 400;}
    .forgot_link {color: #FF4B22 !important;font-weight: 600;}
    .check_forgot {
        margin: 11px 0 58px;
    }
    .login_form .mb_17 {
        margin-bottom: 11px;
    }
    .login_btn {
        text-align: left;
        padding: 16px 24px;
    }
    .login_btn img {
        margin-left: 10px;
    }
    .or {
        background: url(../img/or_line_mob.svg) no-repeat;
        background-position: center;
        margin: 32px 0;
    }
    .login_form .custom-checkbox .custom-control-label::before {
        border: 1.5px solid #2A8ED9;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {background: #2A8ED9 !important;}
    .google_fb {
        margin: 0 -4px;
    }
    .google_fb .col-6 {
        padding: 0 4px;
    }
    .google_fb .btn {
        font-size: 0;
        background: linear-gradient(92.11deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.24) 100%);
        backdrop-filter: blur(10px);
    }
    .no_account {
        margin: 24px 0 22px;
    }
    .copy_right {
        background: #E5E7EB;
        border-radius: 100px;
        height: 5px;
        width: 134px;
        margin: 0 auto;
        right: 0;
        bottom: 8px;
    }
    .copy_right p {
        font-size: 0;
    }
    .signup_form .login_head {
        margin: 0 0 16px;
    }
    .signup_logo {
        max-width: 88px;
    }
    .form-control {
        height: 54px !important;
    }  
    .btn {height: 54px;}
    .forgot_page {
        background: #fff;
    }  
    .forgot_page .login_form h3 {
        color: #111827 !important;
    }
    .forgot_page .login_head p {color: #9CA3AF !important;}
    .forgot_page .login_form label {color: #6B7280 !important;}
    .forgot_page .login_head {
        margin: 48px 0 64px;
    }
    .forgot_page .login_btn {
        position: absolute;
        bottom: 56px;
    }
    .back_box {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .back_btn {
        font-size: 0;
        margin-bottom: 0;
        width: 36px;
        height: 36px;
        border: 1px solid #FF4B22;
        border-radius: 8px;
        text-align: center;
        line-height: 36px;
    }
    .back_btn img {
        margin-right: 0;
    }
    .back_box .logo_img {
        max-width: 90px;
    }
    .header {
        box-shadow: none;
    }
    .header .navbar-brand {max-width: 100px;}
    .header .navbar {padding: 20px 24px;    }
    .search_box, .header .navbar-nav, .select_box, .place_box .btn {display: none !important;}
    .footer_menu {
        position: fixed;
        width: 97.8%;
        bottom: 0;
        background: #fff;
        left: 0;
        z-index: 9;
    }
    .nav_menu {
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
        padding: 12px 36px;
    }
    .nav_menu > li {padding: 0;}
    .footer_menu .copy_right {
        position: static;
        margin: 8px auto;
    }
    .around_btn {
        padding: 8px 24px;
        border-top: 1px solid #FFCABB;
    }
    .around_btn img {
        width: 17px;
        margin-right: 12px;
    }
    .upload_box {
        min-width: 100px;
        max-width: 100px;
        margin-right: 8px !important;
    }
    .upload_box label {
        width: 100px;
        height: 100px;
    }
    .create_itinerary {
        font-size: 12px;
        line-height: 16px;
    }
    .create_itinerary img {
        margin-right: 5px;
    }
    .create_itinerary span {
        max-width: 164px;
    }
    .place_box {
        margin-bottom: 24px;
    }
    .seeMore_head {
        margin-bottom: 16px;
    }
    .head_h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .see_more {
        font-size: 12px;
        line-height: 16px;
    }
    .seeMore_box {
        margin-bottom: 32px;
    }
    .main_sec {
        padding: 10px 0 175px;
    }
    .place_box form.d-flex {
        display: block !important;
    }
    .place_box .form-group {
        max-width: 100%;
        position: relative;
    }
    .place_box label {
        position: absolute;
        right: 17px;
        top: 15px;
        font-size: 0;
    }
    .place_box label img {
        margin-right: 0;
    }
    .place_box .form-group:not(:first-child) {
        padding-left: 0;
        border: none;
        margin-top: 10px;
    }
    .place_box .form-group .form-control {
        font-weight: 400;
    }

    .backToHome {bottom: inherit;}
    .public_tab {
        max-width: 100%;
        margin: 46px auto 16px;
    }
    .backToHome a {margin-right: 47px;}
    .container {padding: 0 24px;}
    .upload_gray {
        min-width: 48px;
        max-width: 56px;
    }
    .upload_gray label {
        width: 48px;
        height: 56px;
        border: none;
    }
    .day_tab .nav-item {
        min-width: 100px;
    }
    .day_tab .nav-link {
        font-size: 14px;
        line-height: 22px;
        padding: 6px 12px;
    }
    .day_tab .nav-link span {
        font-size: 12px;
        font-weight: 400;
    }
    .public_tab .nav-link {padding: 12px 15px;}
    .public_tab {
        max-width: 100%;
        margin: 46px auto 16px;
        background: #F9FAFB;
        box-shadow: none;
    }
    .public_form .form-group {margin-bottom: 16px;}
    .dayTab {overflow-x: auto;}
    .collapse_box {
        margin-top: 16px;
        padding-top: 24px;
    }
    .collapse_box h5 {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 26px;
    }
    .public_form label {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .images_box .card_img {
        width: 100px;
        height: 100px;
        margin: 0 8px 8px 0;
    }
    .public_form .form-group .form-text {color: #9CA3AF !important;}
    .hastag_btn:not(:last-child) {margin: 0 2px 8px 0;}
    .hastag_btn {
        padding: 7px 11px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    .hastags {margin: 16px 0;}
    .save_post .btn {width: 100%;}
    .save_post .btn:not(:last-child) {margin-bottom: 32px;}
}